@charset "utf-8";
/* CSS Document */
 
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
 
/* side navigation */
.sidenav {
    height: 100%;
    width: 0; /*原始宽度*/
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #BFD5DF;
    overflow-x: hidden;
    transition: 0.5s; /*delayed show for 5s */
    padding-top: 60px;
}
 
/*choose bar*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #83ABBB;
    display: block;
    transition: 0.3s; /*标签延迟0.3s显示*/
}
 
/*close button*/
.sidenav a:hover, .offcanvas a:focus{
    color: #000000;
}
 
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
#main {
    transition: margin-left .5s;
    padding: 16px;
}
 
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}